/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 31, 2014, 12:13:10 PM
    Author     : rawatshatrunjay
*/
body{
    background: none repeat scroll 0 0 #3D1545;
    font-family: verdana;
}
.font-1x {
    font-size: 1.2em;
}
.font-2x {
  font-size: 1.5em;
}
.font-4x{
    font-size:4em;
}
.icon{
    font-family: FontAwesome;
}
.loading-icon{
    display: inline-block;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.loading-div {
    margin:5%;
    text-align: center;
    color: white;
}
.main-content {
    display: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    color: #3D1545;
    display: none;
    margin: 2em;
    padding: 1.5em;
}
.title {
  padding-left: 0.5em;
}
.sec-division {
  border: 1px solid;
  margin: 2em;
}
.button {
  background: none repeat scroll 0 0 #3D1545;
  border: 2px solid;
  border-radius: 15px 15px 15px 15px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  height: 3em;
  margin: 0 1em;
  padding: 1em 0.5em 0.3em;
  text-align: center;
  width: 15em;
}
.button.small {
  height: 2em;
  width: 10em;
}
.button.positive {
  background: none repeat scroll 0 0 #2E8B57;
}
.button.negative {
  background: none repeat scroll 0 0 #FF6347;
}
.button .icon, .button-text {
  vertical-align: middle;
}
.option-description{
}
.add-player-pane {
  background: none repeat scroll 0 0 #F5DEB3;
  border-radius: 10px 10px 10px 10px;
  margin: 1em;
  padding: 2em;
  width: 40%;
  position:relative;
}
.add-player-pane:after {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #F5DEB3;
  border-image: none;
  border-style: solid;
  border-width: 1em;
  content: "";
  height: 0;
  left: 7em;
  position: absolute;
  top: -2em;
  width: 0;
}
.add-player-input {
  margin-bottom: 2em;
  padding: 0.5em;
  width: 70%;
}
.add-player-actions {
  text-align: right;
}